# IDE files
.idea/

# Gradle files
.gradle/
build/

# Local configuration
local.properties

# Android Studio profiling data
*.hprof

# Keystore files
*.jks
*.keystore

# Google services file
app/google-services.json

# Crashlytics files
app/fabric.properties
